.wrapper
  %header.page-header
    %h1 Grigoro
    %h2 Save you time, build and analisys whis Grigoro

  %section.video-content
    .container
      .row-fluid

  %section.main-contant
    .container
      .row-fluid
        .span4